* {
  box-sizing: box-sizing;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-position: top;
}

li, a , button {
  font-family: Times New Roman,Sans-Serif,Arial;
  font-weight: 500px;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.container{
  width: 100%;
  margin: auto;
  background-color: transparent;
  box-shadow: 0 7px 15px 0 rgba(61, 67, 243, 0.84);
}

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 30px 10%;
}

.logo{
  cursor: pointer;
  font-weight: 700;
  height: 40px;
  display: flex;
  color: #edf0f1;
}

.navlink {
  list-style: none;
}

.navlink li {
  display: inline-block;
  padding: 0 30px;
}

.navlink li a {
  transition: 0.4s ease-in-out;
}

.navlink li a:hover {
  color: #CEC396;
}

button {
  padding: 9px 25px;
  background-color: rgba(104,121,151,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

button:hover {
  background-color: rgba(104,121,151,0.5);
}

.judul_divisi {
  color: white;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  font-size: 50px;
  font-weight: 500;
  text-transform: capitalize;
}

.pilih_divisi {
  color: white;
  justify-content: center;
  display: flex;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.content img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: solid rgba(25,121,110,0.4);
  box-shadow: 5px 5px 5px rgba(25,121,110,0.9);
}

#galeri {
  background-color: transparent;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.link_gambar1 :hover{
  box-shadow: 5px 5px 5px rgba(38, 0, 249, 0.54);
  background-color: lightblue;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.link_gambar2 :hover{
  box-shadow: 5px 5px 5px white;
  background-color: white;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.link_gambar3 :hover{
  box-shadow: 0 2px 5px rgba(25,121,110,0.4);
  background-color: crimson;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.link_gambar4 :hover{
  box-shadow: 0 2px 5px rgba(0,0,0,0.9);
  background-color: lightgreen;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

footer {
  background-color: transparent;
  color: black;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}